**/.env
**/.env.*
!**/.env.example
docker-compose.env
docker-compose*.yml

.git
.github
.husky
.vscode
node_modules
**/node_modules
logs
**/logs
dist
**/dist
coverage
**/coverage

website
page
docs
client/desktop
client/desktop-old
client/mobile
apps
